<app-header/>

<main>
  <ul id="user">
    <li>
      <app-user
        [user]="users[0]"
        (select)="onSelectUser($event)"/>
      <!-- In Angular ermöglicht $event den Zugriff auf die vom Child-Component emittierten Daten. Das @Output() im app-user Component sendet Werte über einen EventEmitter, die hier als $event empfangen und an onSelectUser() weitergegeben werden. -->
    </li>
    <li>
      <app-user
        [user]="users[1]"
        (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user
        [user]="users[2]"
        (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user
        [user]="users[3]"
        (select)="onSelectUser($event)"/>
    </li>
  </ul>

  <app-task [selectedUser]="selectedUser?.name"/>

</main>


